# This file was created based on this tutorial:
# https://medium.com/edataconsulting/how-to-get-a-ssl-certificate-running-in-aws-elastic-beanstalk-using-certbot-6daa9baa3997

container_commands:
    010_install_epel:
        command: amazon-linux-extras install -y epel
    020_install_certbot:
        command: "sudo yum install -y certbot python2-certbot-nginx"
