# This file was created based on this tutorial:
# https://medium.com/edataconsulting/how-to-get-a-ssl-certificate-running-in-aws-elastic-beanstalk-using-certbot-6daa9baa3997

files:
    /tmp/renew_cert_cron:
        mode: "000777"
        owner: root
        group: root
        content: |
            0 1,13 * * * certbot renew --no-self-upgrade
container_commands:
    010_create_cert_crontab:
        command: "sudo crontab /tmp/renew_cert_cron"
    020_delete_cronjob_file:
        command: "sudo rm /tmp/renew_cert_cron"
        ignoreErrors: true
